*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.card-layout{
    max-width: 75%;
    margin:auto;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
    height: 70vh; 
    padding: 20px;
}

h2{
    text-align: center;
}

p{
    color:rgb(176, 179, 179);
    text-align: center;
}


button{
    background-color: white;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    padding:20px;
    margin-top: 20px;
    text-align: start;
    cursor: pointer;
    align-items: center;
    
}

button:hover{
   
    box-shadow: 4px 4px 5px rgba(72, 72, 72, 0.1);
    
}




.button-container {
    display: flex;
    gap: 8px;  
    justify-content: center; 
    flex-wrap: wrap; 
  }
  
  @media (max-width: 600px) {
    .button-container {
      flex-direction: column;  
    }
    
  }

  @media (max-width: 500px) {
    .card-layout {
        min-width: 150px;  
    }
}
  

