*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.basic-layout{
    max-width: 75%;
    margin:auto;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}
@media (max-width:1180px){
    .basic-layout{
        max-width: 45%;
        
    }
}

.main-content{
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
}

@media (max-width:1180px){
    .main-content{
        flex-direction: column;
        padding-top:10px;
    }
    .other-part{
        padding-top:20px;
    }
}


.content-part{
    margin-top:10%;
}