*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.basic-layout{
    max-width: 75%;
    margin:auto;
    height: 100%;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
}

.main-content{
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
}



.content-part{
    position: absolute;
    top:20%;
}

.user-info{
    padding-right: 30px;
    border-left:1px solid rgb(206, 204, 204);
    padding: 10px;
    justify-content: center;
}