*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.basic-layout{
    max-width: 75%;
    margin:auto;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.1);
    height: 600px
}

.main-content{
    display:flex;
    justify-content: space-between;
    padding-right: 10px;
}

.content-part{
   margin-top:50px;
}

.user-info{
    padding-right: 30px;
    border-left:1px solid rgb(206, 204, 204);
    padding: 10px;
    justify-content: center;
}

@media (max-width:782px){
    .main-content{
        flex-direction: column;
    }
    .basic-layout{
        height: 800px;
    }
    .user-info{
        border:none;
        padding-top:30px;
    }
}
@media (max-width:445px){
    .main-content{
        flex-direction: column;
    }
    .basic-layout{
        height: 850px;
    }
    .user-info{
        border:none;
        padding-top:30px;
    }
}
@media (max-width:342px){
    .main-content{
        flex-direction: column;
    }
    .basic-layout{
        height: 900px;
    }
    .user-info{
        border:none;
        padding-top:30px;
    }
}


